.root {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
  max-width: 420px;
}

.icon__container {
  height: 30px;
  margin-right: 36px;
  min-width: 30px;
  padding: 3px;
  position: relative;

  .icon__image {
    height: 100%;
    left: 0;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.text__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .connection__text {
    color: #e5e5e5;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    white-space: pre-line;
  }
}
