@import 'src/styles/common';

.root {
  position : relative;
  z-index  : 2;
  width    : 100%;
}

.title {
  padding-left : 7px;
  font-size   : 30px;
  line-height : 35px;
  font-weight : 300;
  color       : $white;
}

.input_holder {
  margin-top      : 14px;
  margin-bottom   : 60px;
  display         : flex;
  min-width       : 100%;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
}

.inputItem {
  padding       : 6px 18px;
  box-sizing    : border-box;
  min-width     : 325px;
  height        : 60px;
  font-size     : 18px;
  line-height   : 21px;
  background    : #FFFFFF;
  border-radius : 3px;
}