@import 'src/styles/common';

.root {
  background: $logo-bg;
  height: 94px;
  margin: 0;
  padding: 25px 258px;
}

.navBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.navLink {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  margin-right: 82px;
  padding: 0;
}

.navLink.active {
  font-weight: 450;
}
