.seat1 {
  grid-area : 1;
}

.seat2 {
  grid-area : 2;
}

.seat3 {
  grid-area : 3;
}

.seat4 {
  grid-area : 4;
}

.seat5 {
  grid-area : 5;
}

.seat6 {
  grid-area : 6;
}

.seat7 {
  grid-area : 7;
}

.seat8 {
  grid-area : 8;
}

.seat9 {
  grid-area : 9;
}

.seat10 {
  grid-area : 10;
}

.seat11 {
  grid-area : 11;
}

.seat12 {
  grid-area : 12;
}

.seat13 {
  grid-area : 13;
}

.seat14 {
  grid-area : 14;
}

.seat15 {
  grid-area : 15;
}

.seat16 {
  grid-area : 16;
}

.seat17 {
  grid-area : 17;
}

.seat18 {
  grid-area : 18;
}

.seat19 {
  grid-area : 19;
}

.seat20 {
  grid-area : 20;
}

.seat21 {
  grid-area : 21;
}

.seat22 {
  grid-area : 22;
}

.seat23 {
  grid-area : 23;
}

.seat24 {
  grid-area : 24;
}

.seat25 {
  grid-area : 25;
}

.seat26 {
  grid-area : 26;
}

.seat27 {
  grid-area : 27;
}

.seat28 {
  grid-area : 28;
}

.seat29 {
  grid-area : 29;
}

.seat30 {
  grid-area : 30;
}

.seat31 {
  grid-area : 31;
}

.seat32 {
  grid-area : 32;
}

.seat33 {
  grid-area : 33;
}

.seat34 {
  grid-area : 34;
}

.seat35 {
  grid-area : 35;
}

.seat36 {
  grid-area : 36;
}

.seat37 {
  grid-area : 37;
}

.seat38 {
  grid-area : 38;
}

.seat39 {
  grid-area : 39;
}

.seat40 {
  grid-area : 40;
}

.seat41 {
  grid-area : 41;
}

.seat42 {
  grid-area : 42;
}

.seat43 {
  grid-area : 43;
}

.seat44 {
  grid-area : 44;
}

.seat45 {
  grid-area : 45;
}

.seat46 {
  grid-area : 46;
}

.seat47 {
  grid-area : 47;
}

.seat48 {
  grid-area : 48;
}

.seat49 {
  grid-area : 49;
}

.seat50 {
  grid-area : 50;
}