@import 'src/styles/common';

.root {
  color: $logo-color;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  margin: 0;
  //padding-top: 15px;
  //padding-left: 258px;
}
