.socials__image {
  height: 30px;
  margin-right: 45px;
  min-width: 40px;
  position: relative;

  & img {
    height: 100%;
    left: 0;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
